:root {
  --vite-starter-text-white: #fff;
  --vite-starter-text-lite: #9aa0a9;
  --vite-starter-text-muted: #71777F;
  --vite-starter-text-dark: #1A1A1A;

  --vite-starter-bg-white: #fff;
  --vite-starter-bg-lite: #f4f4f6;
  --vite-starter-bg-dark: #1A1A1A;
  --vite-starter-bg-universal: rgba(142, 142, 142, 0.15);

  --vite-starter-border-color: #e6e6e6;
  --vite-starter-border-hover: #ccced3;
  --vite-starter-border-active: #ccced3;
  --vite-starter-border-radius: 0.4rem;

  --vite-starter-btn-primary: #1F1F21;
  --vite-starter-btn-border-primary: #1F1F21;

  --vite-starter-btn-secondary: #2860CC;
  --vite-starter-btn-border-secondary: #2860CC;

  --vite-starter-btn-outline: #fff;
  --vite-starter-btn-border-outline: var(--vite-starter-border-color);
  --vite-starter-btn-text-outline: var(--vite-starter-text-dark);

  --vite-starter-link: #2777fc;

  --vite-starter-font-text: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Google Sans", sans-serif;
  --vite-starter-font-code: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Ubuntu Mono", "Roboto Mono", Menlo, Monaco, Consolas, monospace;
}
